<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <title>Amazon Best-Sale Monitoring Website  </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='js_e/layui/css/layui.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='js/numbergd/globle.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/show.css')}}">
</head>
<body>

<!--header开始-->
<div class="header">
    <div class="header_logo fl">
        <a><img src="{{ url_for('static', filename='img/1.png') }}" ></a>
    </div>
    <div class="header_nav fl">
        <ul>
            <li>
                <img src="{{ url_for('static', filename='img/nav_1.png') }}">
                <a href="{{ url_for('index') }}" class="nav_current">Dashboard</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/nav_2.png') }}">
                <a href="{{ url_for('clothing') }}">Clothing</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/nav_3.png') }}">
                <a href="{{ url_for('jewelry') }}">Jewelry</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/nav_4.png') }}">
                <a href="{{ url_for('shoes') }}">Shoes</a>
            </li>
            <li>
                <img src="{{ url_for('static', filename='img/nav_5.png') }}">
                <a href="{{ url_for('watches') }}">Watches</a>
            </li>
            <!-- <li>
                <img src="{{ url_for('static', filename='img/nav_6.png') }}">
                <a href="http://www.anydo.wang">GoogleSearch</a> -->
        </ul>
    </div>

    <div class="header_myself fr">
        <p>Role: Admin</p>
    </div>

    <div class="showtime fr">
        <span id="showTime"></span>
    </div>
    <script>
        var t = null;
        t = setTimeout(time, 1000); /*開始运行*/
        function time() {
            clearTimeout(t); /*清除定时器*/
            dt = new Date();
            var y = dt.getFullYear();
            var mt = dt.getMonth() + 1;
            var day = dt.getDate();
            var h = dt.getHours();
            var m = dt.getMinutes();
            var s = dt.getSeconds();
            document.getElementById("showTime").innerHTML = y + "." + mt + "." + day + "  " + h + ":" + m + ":" + s + "";
            t = setTimeout(time, 1000);
        }
    </script>
</div>
<!--header结束-->
    

    <div class="main">
        <div class="right">
            <li class="title">Total Sale Detail</li>
            <div class="itemWrap">
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                <ul class="item">
                    <li class="comName">企业名称1</li>
                    <li class="ratio">
                        <span class="total" title="车辆总数"></span>
                        <span class="register" title="上线数"></span>
                        <span class="online" title="在线数"></span>
                        <span class="totalAmount" title="车辆总数">500</span>
                    </li>
                </ul>
                

            </div>
        </div>
        <div class="left">
            <div class="item-1">
                <div class="inner">
                    <div class="block block-1">
                        <div class="content">
                            <div class="com">
                                <ul>
                                    <li class="symbol"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-company"></use> </svg></li>
                                    <li class="label">Total Average Sale</li>
                                    <li class="amount">1563 <span>(户)</span></li>
                                </ul>

                            </div>
                            <div class="car">
                                <ul>
                                    <li class="symbol"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-car_other_1-copy"></use> </svg></li>
                                    <li class="label">Average Score</li>
                                    <li class="amount">624986<span>(辆)</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="block block-2">
                        <div class="content">
                            <div>
                                <div class="BOTTOM" id="test3"></div>
                                <li class="amount"><span>视频车辆</span>&nbsp;3487&nbsp;<span>(辆)</span></li>
                            </div>
                        </div>
                    </div>
                    <div class="block block-2">
                        <div class="content">
                            <div>
                                <!--<li class="TOP">报警车辆：<span  class="amount">12,345</span></li>-->
                                <div class="BOTTOM" id="test4"></div>
                                <li class="amount"><span>报警车辆</span>&nbsp;3487&nbsp;<span>(辆)</span></li>
                            </div>
                        </div>
                    </div>
                    <div class="block block-2">
                        <div class="content">
                            <div>
                                <!--<li class="TOP">上线车辆：<span class="amount">12,345</span> </li>-->
                                <div class="BOTTOM" id="test5"></div>
                                <li class="amount"><span>上线车辆</span>&nbsp;3487<span>(辆)</span></li>
                            </div>
                        </div>
                    </div>
                    <div class="block block-3">
                        <div class="content">
                            <div>
                                <!--<li class="TOP">在线车辆：<span class="amount">12,345</span> </li>-->
                                <div class="BOTTOM" id="test6"></div>
                                <li class="amount"><span>在线车辆</span>&nbsp;3487&nbsp;<span>(辆)</span></li>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-2">
                <div class="block-1">
                    <li class="title">Sale Count</li>
                    <div class="inner" id="test2"></div>
                </div>
                <div class="block-2">
                    <li class="title">Prediction Of Total Sale Based On LSTM</li>
                    <div class="inner" id="test1"></div>
                </div>
                <div class="block-3">
                    <div class="inner">
                        <li class="title">Sale Statistic</li>
                        <div class="flowCount">
                            <ul class="firstChild" style="margin-bottom: 12px;">
                                <li class="flowLabel">
                                    <span class="symbol"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-day"></use></svg></span>
                                    <span class="label ">Max Sale：</span>
                                </li>
                                <li id="dataNums1" class="flowAmount flowDay"></li>
                            </ul>
                            <ul>
                                <li class="flowLabel">
                                    <span class="symbol"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-month"></use></svg></span>
                                    <span class="label">Min Sale：</span>
                                </li>
                                <li id="dataNums2" class="flowAmount flowTotal"></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="bottom">
            <div class="block-4">
                <div class="inner">
                    <li class="title">Word Cloud Based On LDA Algorithm</li>
                    <div class="container" id="test7"></div>
                </div>
            </div>
            <div class="block-5">
                <div class="inner">
                    <li class="title">Average Score</li>
                    <div class="container" id="test8"></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js_e/jquery.min.js')}}"></script>

    <!-- 传值 -->
    <div id="dataid1" d="{{sale_13_list[1]}}" style="display:none"></div>

    <script>
        var time_name_chuan = document.getElementById('dataid1').getAttribute('d');
        var time_name_chuan_list = time_name_chuan.split(",")
        var data = {
            total: {{sale_13_list[0]}},
            time_name: time_name_chuan_list,
            total_sm: {{sale_13_list[2]}}
        };
        $('.comName').each(function(m, n) {
            $('.comName').eq(m).text(data.time_name[m])
        });
        $('.totalAmount').each(function(m, n) {
            $('.totalAmount').eq(m).text(data.total[m])
        });
        $('.total').each(function(m, n) {
            $('.total').eq(m).animate({
                'width': data.total_sm[m]
            });
            $('.total').eq(m).text(data.total[m]);
        });
        $('.register').each(function(m, n) {
            $('.register').eq(m).animate({
                'width': data.total_sm[m]
            });
        });
        $('.online').each(function(m, n) {
            $('.online').eq(m).animate({
                'width': data.total_sm[m]
            });
        })
    </script>
    <script src="{{ url_for('static', filename='js_e/echarts/echarts.min.js')}}"></script>
    <script src="{{ url_for('static', filename='js_e/echarts/echarts-wordcloud.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
    <script src="{{ url_for('static', filename='js/numbergd/num_1.js')}}"></script>
    <script src="{{ url_for('static', filename='js/numbergd/num_2.js')}}"></script>
    
    <!-- generate chart and data  -->
    <!-- get data -->
    <!-- <script> -->
    <script>
        var l1_name = "Clothing"
        var l2_name = "Jewelry"
        var l3_name = "Shoes"
        var l4_name = "Watches"
        // chart_8
        chart_8({{score_list}})

        // label 1
        var total_sale = {{dict_sale.Clothing}} + {{dict_sale.Jewelry}} + {{dict_sale.Shoes}} + {{dict_sale.Watches}}
        $('.amount').eq(0).text(total_sale+"   "+"units");

        // label 2
        var avg_score = {{score_list[1][0]}} + {{score_list[1][1]}} + {{score_list[1][2]}} + {{score_list[1][3]}}
        avg_score = avg_score/4
        avg_score = avg_score.toFixed(3)
        $('.amount').eq(1).text(avg_score+"   "+"score");

        // chart_2
        chart_2({{dict_sale.Clothing}},{{dict_sale.Jewelry}},{{dict_sale.Shoes}},{{dict_sale.Watches}})

        // chart_3
        $('.amount').eq(2).text(l1_name+":"+"{{dict_sale.Clothing}}");
        var data_percent = {{dict_per.Clothing}}
        chart_3(data_percent)

        // chart_4
        $('.amount').eq(3).text(l2_name+":"+"{{dict_sale.Jewelry}}");
        var data_percent = {{dict_per.Jewelry}}
        chart_4(data_percent)

        // chart_5
        $('.amount').eq(4).text(l3_name+":"+"{{dict_sale.Shoes}}");
        var data_percent = {{dict_per.Shoes}}
        chart_5(data_percent)

        // chart_6
        $('.amount').eq(5).text(l4_name+":"+"{{dict_sale.Watches}}");
        var data_percent = {{dict_per.Watches}}
        chart_6(data_percent)

    </script>


    
    <!- flask 传值 给 wordchart ->
    <div id="dataid" d="{{word_list}}" style="display:none"></div>

    // word_chart
    <script src='https://cdn.jsdelivr.net/npm/echarts@5/dist/echarts.min.js'></script>
    <script src="{{ url_for('static', filename='js_e/echarts/echarts-wordcloud.js')}}"></script>
    <script>
        var word_list_js = document.getElementById('dataid').getAttribute('d');
        chart_7(word_list_js)
    </script>


    <!- flask 传值 给 lstmpre ->
    <div id="dataid_pred_1" d="{{dic_pred_time}}" style="display:none"></div>
    <div id="dataid_pred_2" d="{{dic_pred_pre}}" style="display:none"></div>
    <div id="dataid_pred_3" d="{{dic_pred_cur}}" style="display:none"></div>

    // lstm pre
    <script>
        var dic_pred_time_js = document.getElementById('dataid_pred_1').getAttribute('d');
        var dic_pred_pre_js = document.getElementById('dataid_pred_2').getAttribute('d');
        var dic_pred_cur_js = document.getElementById('dataid_pred_3').getAttribute('d');
        chart_1(dic_pred_time_js,dic_pred_pre_js,dic_pred_cur_js)
    </script>


    <script>
        // dic_pred_cur_js
        var obj_dic_pred_cur_js = eval("(" + dic_pred_cur_js + ")");
        var arr_dic_pred_cur_js = []
        for (var key in obj_dic_pred_cur_js) {
            var item = obj_dic_pred_cur_js[key];
            arr_dic_pred_cur_js.push(item)
            }
        arr_dic_pred_cur_js.sort()

        
        $("#dataNums1").rollNum({
            deVal: arr_dic_pred_cur_js[arr_dic_pred_cur_js.length-1]
        });
        $("#dataNums2").rollNum({
            deVal: arr_dic_pred_cur_js[0]
        });
    </script>
    <script src="http://at.alicdn.com/t/font_610679_r9naue0mmo.js"></script>
</body>

</html>